<header class="page-header">
	<div class="page-header__wrapper">
		<div class="page-header__attention-block">
			<div class="page-header__attention-icon">
				<svg width="42" height="46">
					<use xlink:href="#age"></use>
				</svg>
			</div>
			<div class="page-header__attention-title">Электронные испарители. Содержат никотин, вызывающий привыкание.</div>
		</div>

		<div class="page-header__inner">
			<nav class="page-header__nav">
				<ul>
					<li><a href="index.html">Главная</a></li>
					<li><a href="iqos-block.html">IQOS 3 DUOS</a></li>
					<li><a href="lil-block.html">lil SOLID</a></li>
				</ul>
			</nav>
			<a href="javascript:;" class="btn btn--order">Заказать</a>
		</div>

<!-- 			<a href="javascript:;" class="page-header__toggle" id="menu-toggle"><span></span></a>

			<div class="page-header__menu" id="header-menu">
				<a href="javascript:;" class="page-header__toggle" id="menu-toggle-active"><span></span></a>
				<div class="page-header__menu-nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Features</a></li>
						<li><a href="#">Download</a></li>
						<li><a href="#">Sign in</a></li>
					</ul>
				</div>
			</div> -->

	</div>
</header>